h1 {
  font-size: 1.2em;
}

.features li {
  margin-bottom: 10px;
}

.most-popular {
  position: absolute;
  background-color: #00b289;
  color: #fff;
  line-height: 22px;
  font-weight: 600;
  transform: rotate(45deg);
  padding: 6px;
  width: 350px;
  text-align: center;
  box-sizing: border-box;
  top: 50px;
  right: -109px;
}

.your-business-bg {
  background-color: #f3fbff;
}

$theme-colors: (
  "primary": #00b289,
  "light": #fff
);

@import '~bootstrap/scss/bootstrap.scss';
